<mat-toolbar color="primary" style="position: fixed; z-index: 2; height: 80px; display: flex; align-items: center; justify-content: space-between;">
    <button mat-icon-button class="example-icon" style="height: 70px; width: 70px;" [routerLink]="['../shop']">
        <img src="../../assets/logo.png" alt="logo" class="header-logo">
    </button>
    <div class="header-right">
        <button *ngIf="!userService.auth" mat-raised-button class="example-icon-login" [routerLink]="['../login']">
            Login
        </button>
        <button *ngIf="!userService.auth" mat-raised-button class="example-icon-login" [routerLink]="['../register']">
            Sign Up
        </button>
        <button *ngIf="userService.auth&&userService.isAdmin" class="example-icon-profile" [routerLink]="['../updateAdmin']">
            <img src="../../assets/perfil.png" style="height: 60px; width: 60px; background-color: transparent;" alt="perfil">
        </button>
        <button *ngIf="userService.auth" mat-raised-button class="example-icon-login" (click)="logout()">
            Logout
        </button>
        <button *ngIf="userService.auth&&!userService.isAdmin" mat-icon-button class="example-icon-cart" [routerLink]="['../cart']">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>