<div class="cart-container">
    <!-- Container for the table -->
    <div class="table-container">

        <!-- Table thas uses the datasource defined in cart.component.ts -->
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Image column -->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let product"> <img src="{{getImage(product.id)}}" alt="product image"> </td>
            </ng-container>

            <!-- Product name column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let product"> {{product.name}} </td>
            </ng-container>

            <!-- Quantity of products booked -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
            </ng-container>

            <!-- Total price of the products booked -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let product"> {{product.price*product.quantity}} </td>
            </ng-container>

            <!-- Buttons to add or remove items from the cart -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let product">
                    <div class="button-container">
                        <button mat-raised-button color="primary" class="button-table" (click)="book(product.id)">+</button>
                        <button mat-raised-button color="warn" class="button-table" (click)="unbook(product.id)">-</button>
                    </div>
                </td>
            </ng-container>
            
            <!-- Defining columns to be displayed -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <div class="mat-elevation-28 total-container">
            <div class="total">
                <div>Total:</div>
                <div>{{getTotalCost()}}</div>
            </div>
            <button mat-raised-button color="primary" (click)="showProducts()">CHECKOUT</button>
        </div>

    </div>
</div>

  