.dialog-container{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-self: center;
    height: 100%;
}

.image-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog-big-image-container{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-big-image{
    max-width: 400px;
    max-height: 400px;
}

.images-row{
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: space-around;
}

.dialog-image-row{
    max-height: 100%;
    max-width: 100%;
}

.dialog-product-container{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
}
