<div class="dialog-container">
    <div class="image-container">
        <div class="dialog-big-image-container">
            <img src={{data.images[selectedImage]}} class="dialog-big-image">
        </div>
        <div class="images-row">
            <mat-grid-list cols="2" rowHeight="1:1" *ngFor="let image of data.images; let i=index">
                <img src={{image}} alt="product image" class="dialog-image-row" (click)="selectImage(i)" (mouseenter)="selectImage(i)">
            </mat-grid-list>
        </div>
    </div>
    <div class="dialog-product-container">
        <h1 mat-dialog-title>{{data.name}}</h1>
        <h1 mat-dialog-content>
            <div class="dialog-price">
                {{data.price}}
            </div>
            <br><br><br>
            <div class="dialog-details">
                {{data.details}}
            </div>
            <br><br>
            <button mat-raised-button color="primary" (click)="addItem()">Buy</button>
        </h1>

    </div>
</div>