.credit-card-container{ /*contenedor del formulario de pago, este lo centra en la pagina*/
    display: flex; 
    align-items: center;
    justify-content: center;
}

.credit-card{/*esta es la tarjeta del formulario de pago y se le da propiedades de tamaño y de posicion*/
    width: 400px;
    height: 100px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}