html, /*propiedades para todo el documento*/
body {
    height: 100%; /*alto del 100%*/
    min-height: 100%; /*minimo del alto 100%*/
    background-color: #e4e4e4 /*fondo del body*/
}

body {
    margin: 0; /*margenes en 0*/
    font-family: Roboto, "Helvetica Neue", sans-serif; /*fuente del texto*/
}
